.main{
    margin-top: 140px;
    gap:1rem,

}
.contenu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.loginContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(216, 211, 211, 0.397);
    border-radius: 8px;
    width: fit-content;
    
}
.button{
    width: 100%;
}